<!-- Pied de page du site -->
<footer class="footer">
    <ul>
        <li><%= __('atelier') %> Node.js</li>
        <li>Formation continue</li>
        <li><a href="https://www.cmaisonneuve.qc.ca/">Collège de Maisonneuve</a></li>
    </ul>
    <ul>
        <li><a href="https://nodejs.org/fr/"><%= __('siteOfficielNode') %></a></li>
        <li><a href="https://nodejs.org/en/foundation/"><%= __('foundation') %> Node.js</a></li>
        <li><a href="https://www.linuxfoundation.org/projects/"><%= __('foundation') %> Linux</a></li>
    </ul>
    <ul>
        <li><a href="https://www.mongodb.com/">mongoDB</a></li>
        <li><a href="https://www.mongodb.com/download-center?jmp=nav#community"><%= __('download') %> mongoDB</a></li>
        <li><a href="https://docs.npmjs.com/how-npm-works/packages">NPM</a></li>
    </ul>
</footer>
<script src="/jquery/jquery.js"></script>
<script src="/js/clavardage.js"></script>
<script src="/js/gestion_membres.js"></script>