<!-- Permet de récupérer l'ordre -->
<% let tri;
if(typeof ordre != 'undefined'){ 
      tri = ordre 
    }else{
      tri = 'asc';
    }
%> 
<!-- Tableau contenant les membres -->
<div class="conteneur-tableau">
    <table class="tableau">
        <tr>
            <th><%= __('profil') %></th>
            <th><a href='/trier/prenom/<%= tri %>'><%= __('prenom') %></a></th>
            <th><a href='/trier/nom/<%= tri %>'><%= __('nom') %></a></th> 
            <th><a href='/trier/telephone/<%= tri %>'><%= __('telephone') %></a></th>
            <th><a href='/trier/courriel/<%= tri %>'><%= __('courriel') %></a></th>
            <th><a href='/trier/id/<%= tri %>'>ID</a></th>
            <th><%= __('supprimer') %></th>
            <th><%= __('modifier') %></th>
        </tr>
        <% adresses.forEach(elm => {%>
            <tr>
                <td><a href="/profil/<%= elm._id %>"><i class="fas fa-user"></i></a></td>
                <td contenteditable="true"><%= elm.prenom %></td>
                <td contenteditable="true"><%= elm.nom %></td>
                <td contenteditable="true"><%= elm.telephone %></td>
                <td contenteditable="true"><%= elm.courriel %></td>
                <td><%= elm._id %></td>
                <td><a href="/detruire/<%= elm._id %>"><i class="fas fa-trash"></i></a></td>
                <td><a class='sauver' href="#"><i class="fas fa-save"></i></a></td>
            </tr>
        <% }) %>
    </table>
</div>