<!-- Page d'accueil-->
<%- include('composants/head') %> 
<body>
 <%- include('composants/entete') %>
 <main id="accueil">
    <h1><%= __('titreSite') %></h1>
    <p><%= __('bienvenue') %></p>
    <a class="bouton" href="/list"><%= __('btnVoirMembres') %></a>
</main>
 <%- include('composants/footer') %>
</body>
</html>