<!-- Page membres -->
<%- include('composants/head') %> 
<body>
 <%- include('composants/entete') %>
 <main id="adresses">
    <h1>Liste des membres</h1>
    <%- include('composants/actions_adr') %>
    <%- include('composants/tableau_adr') %>
    <%- include('composants/form_ajouter') %>
</main>
 <%- include('composants/footer') %>
</body>
</html>