<!-- Page profil -->
<%- include('composants/head') %> 
<body>
 <%- include('composants/entete') %>
 <main id="profil">
    <%- include('composants/info_membre') %>
    <%- include('composants/form_modifier') %>
</main>
 <%- include('composants/footer') %>
</body>
</html>